#header{
    background-color: aqua;
}
#menu{
    background-color: chocolate;
}
#content{
    background-color: white;
}
#footer{
    background-color: grey;
}
.myforms{
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
      width: 200px;
  }
  #sourceForm{
    background-color: yellow;
  }
  #targetForm{
    background-color: lightgreen;
  }